
@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}